@use '../helper/variables' as *;
@use '../helper/mixin' as *;


//LAYOUT

.flex {
    display: flex;
}

.flex--row {
    display: flex;
    flex-direction: row;
}

.flex--column {
    display: flex;
    flex-direction: column;
}

.flex--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.grid--2cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid--5cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.uppercase {
    text-transform: uppercase;
}
